  <h1><%= @properties.title %></h1>
  <p><%= @properties.description %></p>
  <p>Quartos: <%= @properties.rooms %></p>
  <dt>Banheiros: <%= @properties.bathrooms %></p>
  <p>Estacionamento: <%= @properties.parking_spots %></p>
  <p>Pets: <%= @properties.pets %></p>
  <p>Diária: <%= @properties.daily_price %></p>

<%= link_to 'Voltar', root_path%>
